@media only screen and (min-width: 769px) and (max-width: 992px) { 
    *{
        margin: 0px;
        padding: 0px;
    }
    
    /* Global Variables */
    :root{
        /* font families */
       --Russo: 'Russo One', sans-serif;
       --baloo:'Baloo Bhai 2', cursive;
       --balooBehn: 'Baloo Bhaina 2', cursive;
       --Noto: 'Noto Sans TC', sans-serif;
    
       /* colors */
       --col1: #FF5733;
       --col2: #ECAE12;
       --col3: #3BABF1;
       --col4: #5042F3;
       --col5: #F3429A;
       --col6: #F2292C;
       --col7: #C8BB1F;
       --col8: #FFF;
       --col9: #000;
    }
    
    
    /* <!-- Navbar Section --> */
    
    #navbar::before{
        height: 75px;
        
    }
    
    #navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 75px;
        }
    
    
    #navbar h1{
        font-family: var(--baloo);
        color: var(--col9);
        text-shadow: 2px 3px 3px red;
        font-size: 34px;
        text-align: center;
        padding: 2px 2px 2px 2px;
    }

    
    #navbar li a{
        text-decoration: none;
        padding: 5px;
        /* margin-bottom: 8px; */
        font-size: 12px;
        color: var(--col9);
        font-weight: bold;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        border-bottom-right-radius:  5px;
        
    }
    #navbar li a:hover{
        border-bottom: 2px solid white;
        color: rgb(209, 204, 204);
    }
    #navbar li a.active{
        color: rgb(209, 204, 204);
    } 
    #navbar li a.active:hover{
        border-bottom: 2px solid white;
        color: rgb(209, 204, 204);
    }
    
    
    
    
    
    /* Head Section  */
    
    section .head::before{
        content: "";
        background-image: url("../Img/Background/BG-2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        opacity: 0.899;
    }
    
    
    section .head{
        display: flex;
        height: 400px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--col8);
        padding: 12px 30px;
       
    }
    section  .head h1{
        font-size: 42px;
        font-family: var(--baloo);
        padding: 6px;
        margin-bottom: 4px;
        text-align: center;
    }
    section .head p{
        font-size: 14px;
        font-family: var(--Russo);
        padding: 5px;
        text-align: center;
    }
    section .head .button{
        text-decoration: none;
        color: black;
        /* color: white; */
        border-radius: 6px;
        margin: 15px 4px 60px 4px;
        font-size: 14px;
        padding: 6px 6px;
        font-weight: bold;
        border: 1px solid black;
    }
    section .head .button:hover{
        cursor: pointer;
        transition: all ease none 0s;
        border-bottom: 0.5px solid black;
        color: white;
    }
    
    
    
    /* Quality Section  */
    .qualities-container {
        display: flex;
        height: auto;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .qualities-container h1{ 
        font-size: 38px;
        margin-top: -30px;
        padding: 6px ;
        text-shadow: 3px 2px 3px 4px red;
    
    }
    
    #qualities{
        margin: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    #qualities .box{
        box-shadow: 2px 4px 2px gray;
        padding: 10px;
        width: 200px;
        height: auto;
        margin: 8px 4px ;
    }
    #qualities .box img{
        display: block;
        margin: auto;
        
    }
    #qualities .box h2{
        color: var(--col9);
        text-shadow: 1px 1px 2px red;
        font-size: 24px;
        padding: 6px;
    }
    
    #qualities .box h3{
        font-size: 20px;
        color: crimson;
        padding: 4px;    
    }
    
    
    
    /* Client Section  */
    .client-container::before{
        content: "";
        background-image: url("../Img/Background/BG\ For\ Client\ Section.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.6;
    }
    
    .client-container{
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 200px;
        /* border: 1px solid brown; */
        text-align: center;
        /* background-color: black; */
    }
    .client-container h1{
        font-size: 38px;
        text-shadow: 2px 2px 3px black;
        color: rgb(233, 53, 53);
        padding: 12px;
    }
    
    #clients{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #clients .box{
        margin: 20px 3px;
        padding: 12px;
    }
    #clients img{
        width: 50px;
        height: 50px;
    }
    
    
    /* Contact section */
    #contact{
        position: relative;
        top: 0px;
        left: 0px;
    }
    #contact::before{
        content: "";
        background-image: url(../Img/Background/BG-Contact.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        opacity: 0.6;
    }
    
    #contact h1{
        text-align: center ;
        font-size: 38px;
        color: black;
        padding-top: 30px;
        text-shadow: -1.5px -1.5px 2px maroon;
    }
    
    .border{
        display: flex;
        flex-direction: column;
        padding: 6px 20px;
        }
    .items{
        font-weight: bold;
        width: auto;
        font-size: 16px;
    }
    
    .itm{
        width: 220px;
        /* height: 40px; */
        font-size: 12px;
        /* padding: 5px; */
        border-radius: 5px;
        border: none;
        box-shadow: 2px 2px 2px 1px skyblue;
        /* margin: 5px; */
    }
    .items textarea{
        height: 60px;
        /* background-color: hotpink; */
    }
    .items .btn1{
        border-radius: 5px;
        background-color: rgb(181, 228, 247);
        padding: 3px 8px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        margin-top: 18px;
        margin-bottom: 32px;
        color: rgba(243, 0, 0, 0.884);
        position: relative;
        top: 0px;
        left: 15px;
        
    }
    
    
    
    Footer{
        color: var(--col8);
        font-size: 12px;
        background-color: black;
        opacity: 0.85;
        /* text-align: center; */
    }   
}   
